<?xml version="1.0"?>
<robot name="depth_camera_sonar_robot"
       xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find nps_uw_sensors_gazebo)/urdf/depth_camera_sonar.xacro" />

  <link name="world"/>

  <xacro:depth_camera_sonar
            namespace="depth_camera_sonar_robot"
            suffix="1"
            parent_link="world"
            topic="depth_camera_sonar"
            beam_width="1.6"
            horiz_count="3"
            vert_count="4"
            num_beams="16"
            update_rate="15"
            min_range="0.1"
            max_range="7.0">
<!--    <origin xyz="0.6 1.0 1.0" rpy="0 0 1.5709"/> -->
<!--    <origin xyz="2.1 1.0 1.0" rpy="0 0 4.71249"/> -->
<!--    <origin xyz="0.6 6.0 1.0" rpy="0 0 4.71249"/> -->
    <origin xyz="0.6 1.0 1.0" rpy="0 0 1.39626"/>
  </xacro:depth_camera_sonar>

</robot>

