<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="uw_lidar">

  <xacro:include filename="$(find nps_uw_sensors_gazebo)/urdf/uw_lidar.xacro"/>

  <link name="robot_base_link"/>

  <link name="robot_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="200"/>
      <inertia
        ixx="96.67" ixy="0.0" ixz="0.0"
        iyy="158.17" iyz="0.0"
        izz="146.83"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://nps_uw_sensors_gazebo/meshes/eNOVUS.dae"/>
      </geometry>
      <origin xyz="0 0 -0.4" rpy="0 0 ${0.5*pi}"/>
    </visual>
    <collision>
      <geometry>
        <box size="2.5 1.6 1.8"/>
      </geometry>
      <origin xyz="-0.1 0 0.5" rpy="0 0 0"/>
    </collision>
  </link>

  <joint name="robot_base_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="robot_base_link"/>
    <child link="robot_link"/>
  </joint>

  <xacro:uwl_macro namespace="uwl" parent_link="robot_base_link">
    <origin xyz="0.48 0 1.41" rpy="0 0 ${pi/2}"/>
  </xacro:uwl_macro>

  <!-- Turn gravity (off) for now so that the (unpowered) robot doesn't sink like
       a rock.  Can remove this once the neutral buoyancy issue (#4) is resolved -->
  <gazebo reference="robot_link">
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
  <gazebo reference="uwl/uwl_link">
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
  <gazebo reference="uwl/uwl_mount_tray_link">
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
  <gazebo reference="uwl/uwl_mount_swivel_link">
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
  <gazebo reference="uwl/uwl_mount_base_link">
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
  <gazebo reference="uwl/uwl_sensor_link">
    <turnGravityOff>true</turnGravityOff>
  </gazebo>

</robot>
