<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="uw_lidar_pedestal">

  <xacro:include filename="$(find nps_uw_sensors_gazebo)/urdf/uw_lidar.xacro"/>
  <!-- Used for fixing robot to Gazebo 'base_link' -->
  <link name="world"/>
  <link name="robot_base_link"/>

  <link name="pedestal_link">
    <inertial>
      <mass value="40"/>
      <inertia
        ixx="1.458333" ixy="0.0" ixz="0.0"
        iyy="1.458333" iyz="0.0" izz="1.25"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder length="0.5" radius="0.25"/>
      </geometry>
      <material name="Gazebo/Grey"/>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.5" radius="0.25"/>
      </geometry>
    </collision>
  </link>

  <xacro:uwl_macro namespace="uwl" parent_link="robot_base_link" pan="-${pi/2}" tilt="0">
    <origin xyz="0 0 0.25" rpy="0 0 -${pi/2}"/>
  </xacro:uwl_macro>

  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="pedestal_link"/>
  </joint>

  <joint name="robot_base_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="pedestal_link"/>
    <child link="robot_base_link"/>
  </joint>


</robot>
