<?xml version="1.0"?>
<launch>
  <!-- world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find nps_uw_sensors_gazebo)/worlds/sonar_single_beam_basic.world"/>
    <arg name="verbose" value="true"/>
  </include>

<!-- depth_camera_sonar_single_beam_robot xacro -->
  <param name="depth_camera_sonar_single_beam_robot"
         command="$(find xacro)/xacro '$(find nps_uw_sensors_gazebo)/urdf/depth_camera_sonar_single_beam_robot.xacro'"/>

<!-- spawn depth_camera_sonar_single_beam_robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        respawn="false" output="screen"
        args="-urdf -model nps_depth_camera_sonar_single_beam_model -param depth_camera_sonar_single_beam_robot" />

    <!-- depth camera depth and normals to sonar script -->
    <node name="depth_and_normals_to_sonar" pkg="nps_uw_sensors_gazebo"
          type="depth_camera_sonar.py"
          args="1.6 1.6 3 3 1.0 1.0">
    </node>

    <!-- rqt_image_view for image depth -->
    <node name="rqt_image_view_image_depth" pkg="rqt_image_view"
          type="rqt_image_view" args="/depth_camera_sonar_single_beam_sensor_camera/image_depth">
    </node>

    <!-- rqt_image_view for image normals -->
    <node name="rqt_image_view_image_normals" pkg="rqt_image_view"
          type="rqt_image_view" args="/depth_camera_sonar_single_beam_sensor_camera/image_normals">
    </node>

    <!-- rqt_image_view for image rays -->
    <node name="rqt_image_view_image_ray" pkg="rqt_image_view"
          type="rqt_image_view" args="/depth_camera_sonar_single_beam_sensor_camera/image_ray">
    </node>

</launch>

