<?xml version="1.0"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find nps_uw_sensors_gazebo)/worlds/sonar_tank_blueview_m450.world"/>
  </include>

  <!-- visualizations -->
  <node name="rqt_images" pkg="rqt_gui" type="rqt_gui" output="screen" args = "--perspective-file $(find nps_uw_sensors_gazebo)/config/sonar_tank_blueview_m450_images.perspective" />
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find nps_uw_sensors_gazebo)/config/sonar_tank_blueview_m450.rviz" />



</launch>
